body {
  margin: 0;
  padding: 0;
  background-color: #1d1e22;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 30%;
  background-size: 2.1rem 2.1rem;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #E0E0E0;
  background-attachment: fixed; /* Ensure the background does not move */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 20px;
  border: 2px solid #FFB612;
  border-radius: 10px;
  background-color: #333;
  overflow: hidden;
}

.search-bar {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #333;
  color: #FFB612;
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
}

#category-dropdown {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #444;
  color: #FFB612;
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
  cursor: pointer;
}

.gamesearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 81.5%;
}

.category-row {
  position: relative;
  margin: 20px auto;
  max-width: 90%;
  overflow: hidden;
  padding: 0 20px;
}


.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #FFB612;
  margin-bottom: 10px;
}

.category-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
  padding: 10px 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFB612;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.scroll-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.category-container::-webkit-scrollbar-thumb {
  background: #FFB612;
  border-radius: 4px;
}

.category-container::-webkit-scrollbar-track {
  background: #333;
}

.gamecard {
  flex: 0 0 auto;
  width: 200px;
  background-color: #333;
  border: 2px solid #FFB612;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.gamecard img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.gamecard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gamecard:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Content area */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px); /* Adjust for fixed navbar height */
}

/* Title card */
.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(1.5rem, 1rem + 7vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: #FFB612;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
  display: flex;
}

.letter {
  display: inline-block;
  animation: moveLeftRight 16s infinite linear;
  font-family: 'Open Sans', sans-serif;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
  animation: circularGradient 16s linear infinite;
}

.top .letter {
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 16s linear infinite, moveLeftRight 16s infinite linear;
}

.bottom .letter {
  color: transparent;
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 16s linear infinite, moveLeftRight 16s infinite linear;
  transform: translateX(-0.02em);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes circularGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}