/* Dark mode body */
body {
  background-color: #121212;
  color: #E0E0E0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-top: 50px; /* Adjust for fixed navbar height */
}

/* Content area */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px); /* Adjust for fixed navbar height */
}

/* Title card */
.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(1.5rem, 1rem + 7vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: #FFB612;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
  display: flex;
}

.letter {
  display: inline-block;
  animation: moveLeftRight 16s infinite linear;
  font-family: 'Open Sans', sans-serif;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
  animation: circularGradient 16s linear infinite;
}

.top .letter {
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 16s linear infinite, moveLeftRight 16s infinite linear;
}

.bottom .letter {
  color: transparent;
  background: linear-gradient(135deg, #FFB612 20%, #121212 60%, #FFB612 80%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 16s linear infinite, moveLeftRight 16s infinite linear;
  transform: translateX(-0.02em);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes circularGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-bar {
  width: 80%;
  padding: 10px;
  margin: 0 auto 20px;
  border: 2px solid #FFB612;
  border-radius: 10px;
  background-color: #333;
  color: #FFB612;
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
  display: block;
}

.gamesearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 81.5%;
}

.gamecard {
  background-color: #333;
  border: 2px solid #FFB612;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.gamecard img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.gamecard .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FFB612;
}

.gamecard .subtitle {
  font-size: 14px;
  color: #bbb;
  font-family: 'Open Sans', Arial, sans-serif;
}

.gamecard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gamecard:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Featured and Updates section */
.featuredupdates {
  display: flex;
  justify-content: space-between;
  width: 81.5%;
  margin: 20px auto;
}

.featured-gamecard {
  width: 40%; /* Adjust as necessary */
}

.updates-info {
  display: flex;
  flex-direction: column;
  width: 55%; /* Adjust as necessary */
}

.update-card {
  background-color: #333;
  border: 2px solid #FFB612;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #E0E0E0;
}