body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.navbar {
    z-index: 999;
}

.game-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    top: 10%;
    background-color: #000;
    border: 2px solid #FFB612;
    border-radius: 10px;
    overflow: hidden;
}

.embed {
    width: 100%;
    height: 100%;
    border: none;
}

.fullscreen-btn {
    left: 50%;
    padding: 10px 15px;
    background-color: #FFB612;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    z-index: 1000;
    display: block;
}

.fullscreen-btn:hover {
    background-color: #313135;
}